body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*background: lightpink;*/
}
div.Bbody{
	height: 60px;
	width: 55px;
	background: black;
	margin: 20%;
	border: 1px solid #000;
	border-radius: 50%;
	position: relative;
	transform: rotate(35deg);
	/*
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	overflow: hidden;
	color: #000;*/
}
div.Bbody .left{
	height: 55px;
	width: 38px;
	background: yellow;
	/*border: 1px solid #eee;*/
	border-radius: 50%;
	transform: rotate(-25deg);
	position: absolute;
	top: 10px;
	left: .5px;
}
div.Bbody .left:before,
div.Bbody .left:after{
	content: "";
	pointer-events: none;
	position: absolute;
	border-radius: 50%;
	box-shadow: inset 0 0 0 1em;
}
div.Bbody .left:before{
	height: 10px;
	width: 8px;
	/*border: 1px solid #000;*/
	transform: rotate(25deg);
	top: 6px;
	left: 17px;
}
div.Bbody .left:after{
	height: 5px;
	width: 7px;
	color: pink;
	transform: rotate(25deg);
	top: 17px;
	left: 8px;
}


div.Bbody .right{
	height: 55px;
	width: 38px;
	background: yellow;
	/*border: 1px solid #eee;*/
	border-radius: 50%;
	transform: rotate(25deg);
	position: absolute;
	top: 10px;
	right: .5px;
}
div.Bbody .right:before,
div.Bbody .right:after{
	content: "";
	pointer-events: none;
	position: absolute;
	border-radius: 50%;
	box-shadow: inset 0 0 0 1em;
}
div.Bbody .right:before{
	height: 10px;
	width: 8px;
	/*border: 1px solid #000;*/
	transform: rotate(-25deg);
	top: 6px;
	right: 17px;
}
div.Bbody .right:after{
	height: 5px;
	width: 7px;
	color: pink;
	transform: rotate(-25deg);
	top: 17px;
	right: 8px;
}

div.Bbody .mouth{
	height: 5px;
	width: 8px;
	border-bottom: 1px solid #000;
	border-radius: 50%;
	position: absolute;
	top: 30px;
	left: 24px;
}

div.Bbody .line_01{
	/*height: 5px;*/
	width: 86%;
	background: #000;
	position: absolute;
	top: 40px;
	left: 1.3px;
	border: 3px solid #000;
	border-radius: 0 0 50% 50%;
}
div.Bbody .line_01:before,
div.Bbody .line_01:after{
	content: "";
	position: absolute;
	pointer-events: none;
	display: inline-block;
	height: 15px;
	width: 1px;
	box-shadow: inset 0 0 0 1em;
	color: #000;
	top: -55px;
}
div.Bbody .line_01:before{	left: 15px;
	transform: rotate(-20deg);
}
div.Bbody .line_01:after{
	right: 15px;
	transform: rotate(20deg);
}

div.Bbody .line_02{
	/*height: 5px;*/
	width: 66%;
	background: #000;
	position: absolute;
	top: 50px;
	left: 6.5px;
	border: 3px solid #000;
	border-radius: 0 0  50% 50%;
}
div.Bbody .line_02:before,
div.Bbody .line_02:after{
	content: "";
	position: absolute;
	pointer-events: none;
	display: inline-block;
	height: 8px;
	width: 12px;
	box-shadow: inset 0 0 0 1em;
	color: #000;
	top: -63px;
}
div.Bbody .line_02:before{
	transform: rotate(-20deg);
	left: -2px;
	border-radius: 30% 0 50% 50%;
	
}
div.Bbody .line_02:after{
	transform: rotate(20deg);
	right: -3px;
	border-radius: 0 30% 50% 50%;
}

div.Bbody .fly_01{
	height: 22px;
	width: 25px;
	border: 2px solid tan;
	border-radius: 50%;
	position: absolute; 
	top: 10px;
	left: -18px;
	transform: rotate(25deg);
	z-index: -100;
}
div.Bbody .fly_02{
	height: 25px;
	width: 28px;
	border: 2px solid tan;
	border-radius: 50%;
	position: absolute; 
	top: 28px;
	left: -23px;
	transform: rotate(-25deg);
	z-index: -10;
}
div.Bbody .fly_03{
	height: 22px;
	width: 25px;
	border: 2px solid tan;
	border-radius: 50%;
	position: absolute; 
	top: 10px;
	right: -18px;
	transform: rotate(-25deg);
	z-index: -10;
}
div.Bbody .fly_04{
	height: 25px;
	width: 28px;
	border: 2px solid tan;
	border-radius: 50%;
	position: absolute; 
	top: 28px;
	right: -23px;
	transform: rotate(25deg);
	z-index: -10;
}

div.Bbody .last{
	height: 0;
	width: 0;
	color: #000;
	border-top: 20px solid #000;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	position: absolute;
	top: 63px;
	left: 25px;
}
